{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">List of users</div>
                        {% if app.user != null %}
                            <table class="table">
                                <tr>
                                    <th>Id</th>
                                    <th>Username</th>
                                    <th>Action</th>
                                </tr>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>
                                            {% if user.disabled %}
                                                <a href="{{ path('user_activate', {'id': user.id})}}">enable</a>
                                            {% else %}
                                                <a href="{{ path('user_deactivate', {'id': user.id})}}">disable</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
